h1 {
    text-align: center;
}

p {
    text-align: center;
}

div {
    text-align: center;
}

body {
    background-color: rgb(184, 3, 91);
}

/* Header Styles */
hr {
    color: aliceblue;
}

/* Navigation Styles */
.table {
    margin: 5px 100px;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

.columnwidth {
    width: 25%;
}

/* Image Styles */
.imageofgreece {
    width: 1500px;
    height: 800px;
    align-content: center;
}

.smallimage {
    width: 100%;
    border: 5px black solid;
}

/* Margin and Padding Styles */
.m50px {
    margin: 50px;
    padding: 50px;
}

/* Text Color Styles */
.body {
    color: rgb(255, 170, 0);
}

/* Container Styles */
.container-fluid.row.p-0 {
    height: 100%;
}

.container.col.m-0.p-0.bg-light {
    width: 50%;
    height: 100%;
}

/* Contact Form Styles */
h1 {
    margin-left: 12%;
    margin-top: 10%;
    font-weight: normal;
    color: rgb(164, 40, 12);
    font-family: sans-serif;
}

.mr {
    margin-left: 12%;
    margin-bottom: 4%;
    width: 35%;
    border-top: 0%;
    border-left: 0%;
    border-right: 0%;
    border-bottom: 1%;
    background: transparent;
}